config EERIE_LEAP_CONTROLLER_SYSTEM
    bool "EerieLeap System Controller"
    depends on EERIE_LEAP_DOMAIN_SYSTEM && EERIE_LEAP_FS
    select EERIE_LEAP_THREADING
    help
      Add EerieLeap System Controller.

config EERIE_LEAP_CONTROLLER_MANAGEMENT
    bool "EerieLeap Management Controller"
    depends on EERIE_LEAP_SMP && EERIE_LEAP_DOMAIN_SYSTEM
    select EERIE_LEAP_THREADING
    help
      Add EerieLeap Management Controller, serving the config and device SMP groups.

config EERIE_LEAP_CONTROLLER_CANBUS
    bool "EerieLeap CANBus Controller"
    depends on EERIE_LEAP_DOMAIN_CANBUS && EERIE_LEAP_DOMAIN_CANBUS_COM
    depends on EERIE_LEAP_DEVICE_TREE && EERIE_LEAP_FS
    select EERIE_LEAP_THREADING
    help
      Add EerieLeap CANBus Controller.

config EERIE_LEAP_CONTROLLER_SENSORS
    bool "EerieLeap Sensors Controller"
    depends on EERIE_LEAP_DOMAIN_SENSOR && EERIE_LEAP_DOMAIN_CANBUS
    depends on EERIE_LEAP_GPIO && EERIE_LEAP_RANDOM && EERIE_LEAP_FS
    select EERIE_LEAP_THREADING
    help
      Add EerieLeap Sensors Controller.

config EERIE_LEAP_CONTROLLER_LOGGING
    bool "EerieLeap Logging Controller"
    depends on EERIE_LEAP_DOMAIN_CANBUS_COM && EERIE_LEAP_EVENT_BUS
    depends on EERIE_LEAP_GPIO && EERIE_LEAP_DEVICE_TREE
    select EERIE_LEAP_THREADING
    help
      Add EerieLeap Logging Controller.

config EERIE_LEAP_CONTROLLER_BLE
    bool "EerieLeap BLE Controller"
    depends on EERIE_LEAP_DOMAIN_BLE
    help
      Add EerieLeap BLE Controller.
